<div class="article">
<article class="article-01">
    <div id="lorem">
    <h2>Img 1</h2>
    <img src="./images/7.jpg">
    </div>
    <div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, voluptas! Harum fugit ullam laudantium facilis cum eius, pariatur, amet quibusdam, quae autem ipsa aspernatur! Voluptatibus atque vitae sapiente! Natus itaque in, perspiciatis eius delectus voluptates culpa quas? Suscipit illum sequi qui quas hic corrupti beatae, veritatis tempora corporis perspiciatis, dolorum impedit tenetur, error reiciendis. Quam animi suscipit temporibus dolorum tenetur! </p>     
    </div>
</article>


<article class="article-02">
    <div id="lorem">
    <h2>Img 2</h2>
    <img src="./images/8.jpg">
    </div>
    <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum architecto mollitia qui! Velit pariatur necessitatibus voluptas at consectetur dolorem tempora officiis totam sed, tempore ipsam maxime cumque nemo architecto. Aspernatur eveniet quidem reiciendis laudantium veritatis labore repellendus iure nisi, assumenda ullam illum possimus, qui totam alias temporibus et neque dolorem vero odit! Error, expedita. Libero vel iste consectetur nesciunt facilis. </p>     
    </div>
</article>


<article class="article-01">
        <div id="lorem">
        <h2>img 3</h2>
        <img src="./images/9.jpg" >
        </div>
        <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa praesentium sunt, asperiores cupiditate facere deserunt unde aperiam blanditiis repellendus tenetur a voluptatem sequi quibusdam quisquam atque minima expedita incidunt ex cum sint officiis doloribus! Repudiandae tempore magnam, maxime, quos sint dicta rem rerum incidunt officiis, doloribus reprehenderit sapiente. Beatae voluptates repellendus quaerat aliquid libero sapiente quod consectetur nihil. Impedit, eligendi!</p>     
        </div>
</article>
</div>
